name: Build

on: [push, pull_request]
jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        configuration:
          - Debug
          # - Release
    steps:
    - uses: actions/checkout@v1
      with:
       submodules: true
    - name: Setup Nuget.exe
      uses: warrenbuckley/Setup-Nuget@v1
    - name: Restore packages
      run: nuget restore CBLoader.sln
    - name: Setup MSBuild.exe
      uses: warrenbuckley/Setup-MSBuild@v1
    - name: Build with MSBuild
      run: msbuild -p:Configuration=${{ matrix.configuration }}
    - name: Upload artifact
      uses: actions/upload-artifact@v2.2.3
      with:
        # Artifact name
        name: ${{ matrix.configuration }}
        # Directory containing files to upload
        path: CBLoader/bin/${{ matrix.configuration }}/
    - name: Upload Installer
      uses: actions/upload-artifact@v2.2.3
      with:
        # Artifact name
        name: ${{ matrix.configuration }}
        # Directory containing files to upload
        path: CBInstaller/bin/${{ matrix.configuration }}/CBInstaller.exe
